body {
    background-color: lightpink;
  }

#wrap {
  display: flex;
  flex-direction: column;
}

#gifs {
  display: grid;
  justify-content:center;
  grid-template-columns: repeat(2,1fr);
}

#gifs>* {
}